
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        Value of CookieUsername: @ViewBag.CookieUsername
        <br />
        @ViewBag.Deleted
    </div>
</body>
</html>
