@using W10_01_AutoStoredProcedure.Models
@model List<Computer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="row text-center">
            <h1>COMPUTERS</h1>
        </div>

        <br />

        <div class="row text-center">
            <div class="col-md-4 text-black">Brand</div>
            <div class="col-md-4">GPU</div>
            <div class="col-md-4">ButtonAddRandom</div>
        </div>

        <div class="row text-center">

            @foreach (Computer c in Model)
            {
                <div class="row">
                    <div class="col-md-4">@c.Brand</div>
                    <div class="col-md-4">@c.GPU_</div>
                </div>
            }



        </div>

    </div>
</body>
</html>
