
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AnimatedCheckbox.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>animated checkbox</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2">Received Group</label>
                        <div class="col-md-10 checkbox">
                            <label>
                                @Html.CheckBox("cb1", false)
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Received
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
