
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div> 
        @*header*@
        @Html.Partial("~/Views/Shared/_PartialInfoLinks.cshtml")
    </div>
    <div>
        @* body*@
        <hr />
        <p>sadsadasd    </p>
    </div>
    <div>
        @*footer *@
    </div>
</body>
</html>
