
@{
    Layout = null;

    string name = "a name";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>
<body>
    <div id="sth"> 
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>

            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>

            <a href="https://www.google.com">Google</a>
            <!--<li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>-->

            @*
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            *@
        </ul>
    </div>
    <div>
        <input type="text" maxlength="15"/>
        <input typeof="number" min="1"/>
    </div>
    <br/><br/>
    <div>
        @name
    </div>
</body>
</html>
