
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
</head>
<body>
    <div>
        <h1>BLOG PAGE</h1>
        t2 : @ViewBag.t3
    </div>
</body>
</html>
