@{ 
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <ul>
            <li><a href="#">asdasd</a></li>
            <li><a href="#">asdasd</a></li>
            <li><a href="#">asdasd</a></li>
            <li><a href="#">asdasd</a></li>
            <li><a href="#">asdasd</a></li>
        </ul>
    </div>
    <div class="col-md-8" ></div>
</div>