
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("text")
    <button type="submit">SEND</button>
    <br />
    @Html.ActionLink("Index 2", "Index2")
    <br />
    @Html.ActionLink("Index 3", "Index3")
}
