
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>,
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</head>
<body>
    <div> 
        <h2>HOME PAGE</h2>
    </div>
    <div>
        <input type="button" name="button1" value="SEND" class="btn btn-danger" />
        <br />
        <a href="https://www.google.com" class="btn btn-success btn-sm">Google</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
            </div>
            <div class="col-md-8">
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
            </div>
        </div>
    </div>
</body>
</html>
